[2013-10-31 02:05] despo opened #14 "Provide session material in bundled form"
Provide tutorial files as they should be to get started and a bundle of any additional files that are required.

Use gists.

Link from tutorial.

[2013-11-10 12:52] #14 closed, assigned to despo

[2014-06-30 23:11] matt-oakes opened #96 "Recommended software"
Just wanted to start a discussion about possibly including some guidance about software to use for the tutorials, mainly the first HTML and CSS ones.

Because students are using their own laptops for tutorials (a really good thing!) they are unlikely to have any software installed which they can use edit the HTML file. Last week I guided some students through installing [Sublime Text 2](http://www

[2014-07-01 12:18] despo opened #97 "CSS animations, transitions"
Create new tutorial on CSS animations and transitions.

[2014-07-01 12:19] despo opened #98 "Fundamentals of programming tutorial"
Fundamentals of programming, loops, satements, after HTML, learn what an algorithm is.

[2014-07-01 12:21] despo opened #99 "Databases tutorials(s)"
- [ ] relational vs nosql
- [ ] sql basics
- [ ] creating and managing DBs
- [ ] keep required setup minimum: use sqlite?

[2014-07-01 12:22] despo opened #100 "SVG and canvas tutorial"

[2014-07-01 12:23] despo opened #101 "API/data formats tutorial"
Add ajax, xml, json and rss examples

[2014-07-01 12:23] despo opened #102 "REST for beginners tutorial"

[2014-08-13 19:38] CharlotteEdwards opened #123 "Rename resources as toolbar"
In http://tutorials.codebar.io/html/lesson4/tutorial.html, the name resources is too ambiguous. Please rename it toolbar to make it clearer.

[2014-09-14 23:04] barisbalic opened #131 "VM + Intro to VM tutorial"
There's obviously a problem in the variety of systems and the configuration of the systems that are brought along to codebar.  It means people have inconsistent experiences and tutorials have to explain up to three ways of doing things when it's OS dependent.

I propose (and will begin) creating a VM that can be shared with students and made available online, and an accompanying tutorial about usi

[2014-10-10 12:40] matteomeli opened #136 "Web development frameworks"
I would like to prepare a tutorial about modern web development framework, with a focus on MVC (or similar) architecture-based ones.

After a general introduction, I would like to describe AngularJS (https://angularjs.org/) along with the quite new and really interesting Ionic (http://ionicframework.com/) and/or Ruby on Rails (http://rubyonrails.org/), with some little hands-on exercises and such

[2014-10-23 11:58] jamesjoshuahill opened #140 "Broken link to getting started guide"
Link on homepage to http://tutorials.codebar.io/general/setup/tutorial.html returns 404.

Sorry I haven't played with GitHub pages, so I'm not sure why :confused:

[2014-10-23 12:58] #140 closed, assigned to nobody

[2014-11-19 00:07] #96 closed, assigned to nobody

[2014-12-11 19:41] chrisfranklin opened #149 "Python"
If there was a desire for it I could create Python versions of the Ruby tutorials. For example:

https://github.com/chrisfranklin/tutorials/blob/python-dev/python/lesson1/tutorial.md

(although Learn Python the Hard Way is excellent I think pointing to a much shorter introductory tutorial and then pointing towards LPHW for reference would be better, I'm happy to change it)

[2014-12-14 02:53] #123 closed, assigned to nobody

[2015-01-17 11:02] el-abdessamad commented on #149
wouldn't be A Byte of Python a better reference than LPHW ?

[2015-01-17 11:30] hairychris commented on #149
So a little update from me, after starting work on this I saw some of the limitations with the Ruby side of the tutorials. The reason for choosing Learn Python the Hard Way was the fact it teaches Python just like Ruby was taught by example in this repository.

I do understand that a lot of people don't like LPHW as they find it too heavy going but I really like the hands on teaching style.

There

[2015-01-17 11:34] hairychris commented on #149
I'd also like to bring some web frameworks like Django or Flask into the tutorial as early as possible, almost as soon as basic syntax has been taught.

I feel the two major problems with teaching programming are:

    1. Syntax Errors (frustrating)
    2. Motivation / Ability to write cool non trivial things quickly (maintaining interest)

So a fine balance between teaching the fundamentals and s

[2015-02-11 17:13] samsworldofno opened #160 "Ruby Syllabus 2015 Reboot"
[Placeholder for this project]

I'm hoping to work with others on a rewrite of the ruby syllabus. I've taught it a few times and have found that students often (a) struggle with some of the core concepts of the language, (b) struggle with some of the practicalities like running a CLI app, and (c) want more ways to learn.

I have a bunch of opinions of my own about how to improve the syllabus, but

[2015-02-11 17:14] samsworldofno commented on #160
tagging: @andrewmcdonough

[2015-02-11 17:18] samsworldofno commented on #160
tagging: @Najaf

[2015-02-11 17:28] Najaf commented on #160
Thanks for tagging me into this. It would be great if you could share your findings after teaching at codebar for the next few weeks.

Before writing a syllabus/set of tutorials, it would be good to know:

* What are the motivations for a typical student learning Ruby at codebar?
* Are there any common areas where people get stuck?
* How well does the "tutorial" format work? i.e. how well do stude

[2015-02-11 17:31] samsworldofno commented on #160
Hey Ali,

Cheers for the comment. Definitely going to plan this before jumping in and writing... but I hadn't thought about quantifying the current experience so that's a great input. I'll be certain to share my findings... and hopefully those of others!

SP

[2015-02-11 17:33] Najaf commented on #160
I wouldn't worry too much about being 100% scientific, but I'm willing to bet even the most superficial polling of four or five newbies would be more informative than us just guessing at what we believe they should learn :)

[2015-02-11 17:38] samsworldofno commented on #160
No chance of 100% science here :) I'll put my notes up here: https://github.com/codebar/tutorials/wiki/Ruby-Syllabus-2015-Notes. Very scribbly and not ready for review at all but better put it here in the open than hidden in google docs or somebody's head.

I've added a few from previous experiences to get started.

[2015-02-11 21:45] creature commented on #160
Some things I've picked up while coaching at Codebar, & teaching elsewhere:

- Codebar sessions last about 2 hours, and you can only rely on about 90 minutes of them being available. So I'd aim for each tutorial to take about 60-90 minutes.
- The tutorials are designed to be worked through with a coach, so they don't have to explain *everything*. But if they don't explain something, then a clear "

[2015-02-11 23:12] Najaf commented on #160
Seconded. Perhaps I'm just covering up my weaknesses as a teacher, but the workshops/courses I deliver are 98% student with hands on keyboard doing exercises, occasionally asking for help. 2% me explaining things.

[2015-02-12 10:41] samsworldofno commented on #160
Tagging: @heruku, @christophgockel

[2015-03-09 08:03] jakehills commented on #97
@knuxus Is this still being looked at? I wouldn't mind writing these.

[2015-03-09 22:04] matyikriszta commented on #97
Hi @jakehills,

Yes, this is still being looked at, it would be great if you could help out. Maybe you could put together an outline and we could take it from there?

[2015-03-10 13:01] deniseyu commented on #131
+1 for command line basics. I'd be willing to put together a quick tutorial on using the command line for version control and maybe (a teeny tiny bit) of text-editing in Vim

[2015-03-10 13:04] AVGP commented on #131
I'd be in for the VM creation for this.

[2015-03-10 13:05] barisbalic commented on #131
I've been drafting an overall CLI/shell tutorial, but it keeps growing, would be good to have feedback on it, will start another thread.

[2015-03-10 13:06] deniseyu opened #165 "jQuery tutorial"
jQuery tutorial tasks (to-do list and color-picker) ramp up in difficulty at a sheer cliff-face instead of a gentle incline. This has resulted in several students being stuck on these tutorials for weeks or even months. It is additionally difficult for coaches to pick up where the student left off the previous week.

I am going to work on a rewrite of one or both of these tutorials, putting this o

[2015-03-10 15:44] matyikriszta commented on #131
@barisbalic @AVGP @deniseyu these are all good ideas. I'd say let's separate out the VM creation and CLI/shell tutorial into two separate issue. @barisbalic if you want to share what you've put together so far I'm happy to look at it and make suggestions. @deniseyu maybe you and @barisbalic could collaborate on this?

[2015-03-10 15:46] barisbalic commented on #131
@matyikriszta yes that was always the intention.  CLI was meant to be 'enough CLI to install things in the VM', but it blew up a bit.  @deniseyu I would be happy for the assist if you are game.

[2015-03-10 20:25] deniseyu commented on #131
@barisbalic @matyikriszta would love to help with command line. never had to use a VM before so i'm probably not going to be too useful on that!

[2015-03-11 12:02] samsworldofno commented on #160
Hi All,

I've added some more notes to the document (https://github.com/codebar/tutorials/wiki/Ruby-Syllabus-2015-Notes) based upon experiences coaching Ruby 1, 2 and 3 over the last few weeks. I'm going tonight and will try to get some exposure to 4 and 5.

After that I'll ping the group and get a discussion arranged.

SP

[2015-03-11 12:04] samsworldofno commented on #160
... and of course, any other thoughts/observations/notes are welcome in that document, too!

[2015-03-11 12:22] DanTheBlue commented on #136
Hey, I would be interested in helping if this is still considered?

I think explaining standard terms like MVC might be very important, and almost focusing a few tutorials on the abstract ideas before bringing in the concrete examples might be cool.

Shameless plug, but I wrote about the MVC framework on my blog. Feel free to have a look, and I am happy to adapt it or use it for the tutorials here

[2015-03-12 08:34] knuxus commented on #97
Hey @jakehills outline that I had previously written for this was.

1. Show some example for animating various elements like titles, images, circles etc on a simple static page. Can be used with this library http://daneden.github.io/animate.css/ but better to write our own.

2. Explain the keyframes with some basic transform animation.
3. Explain the animation properties. basically every parameter

[2015-03-17 22:43] matyikriszta commented on #136
hi @DanTheBlue, this is still very much considered. I agree we need an overview of the abstract concepts before we jump into the specific. Would you be willing to put together a rough draft for this based on your blog post? Also, what other terms/concepts we should focus on as the basis?

[2015-03-17 22:47] matyikriszta commented on #131
hey @barisbalic & @deniseyu, can I put a deadline on this? Say end of this month the 29th of March?

[2015-03-18 14:16] DanTheBlue commented on #136
@matyikriszta Great :)

Sure can do, ill make a fork or something for a rough idea if you like, to see what people think of these new styled guides. I guess we need to go over the basics, and then have a very simple tutorial that gives you an example of how this is powerful (multiple uis for one backend system as such).
I think in these examples most of the leg work should be done, as its just an

[2015-03-23 00:28] barisbalic commented on #131
@matyikriszta @deniseyu I would like to commit to that deadline but time is escaping me this month.  It may be early to mid april :(

[2015-03-23 13:47] despo opened #167 "Add license!"
http://choosealicense.com/
I think GPL as anyone using/distributing this code should follow the same terms.

Any thoughts?

[2015-03-23 16:28] despo commented on #167
On second thought a CC license, Attribution-NonCommercial-ShareAlike 4.0 International

http://creativecommons.org/choose/

[2015-03-25 23:15] matyikriszta commented on #149
@markdessain sorry, it is an issue rather than a pull request but I think you should get involved!

[2015-03-25 23:58] markdessain commented on #149
Thanks @matyikriszta for adding me in. For reference for anyone else reading, I'm a full time Python developer and in this evenings session Kriszta and myself were talking at a high level about how we could add Python into codebar.

I'm glad @chrisfranklin has started this off and hopefully we can make something of it.

From the points so far I very much agree with @despo about keeping the tutoria

[2015-03-28 17:49] hairychris commented on #149
Firstly apologies for not continuing on with this, I've been showing a couple of friends how to use Python and trying to remember what worked for me when I was first getting started.

I do love the idea of keeping the tutorials exactly the same as Ruby to illustrate how the syntax is different but the fundamentals are very similar. That said it would be lovely to be able to cover the following top

[2015-04-16 13:56] knuxus commented on #167
Yes, go ahead with that one @despo , it suits quite good the whole codebar org

[2015-04-17 15:10] knuxus commented on #167
Ive added within the pull request, @despo if you wish to merge.. just go ahead

[2015-04-17 15:56] #167 closed

[2015-05-08 08:23] lpil commented on #165
I'd also argue that there's more value in teaching vanilla JS than jQuery at such a low level.

[2015-05-08 08:28] lpil opened #172 "Sinatra tutorial"
Currently there's no information in the tutorials on where to go next for creating a web application, and it seems that many students gravitate towards the confusing behemoth that is rails. I think Sinatra (or similar) is a much better framework to learn with, largely due to it's simplicity and lack of boilerplate.

@deniseyu Shall we write something?

[2015-05-08 10:22] despo commented on #165
Maybe some extra tutorials before that would be good. Is there something specific - eg DOM manipulation/Conditionals/Selectors that shoudl be practised on more?

[2015-05-08 10:22] despo commented on #165
@deniseyu

[2015-05-08 16:42] deniseyu commented on #172
@lpil I'm up for this. let's plan a time to meet-- I have some time next weekend (not this one, bc of Silicon Milkroundabout)

[2015-05-08 17:31] lpil commented on #172
Cool. Shoot me an email and we'll sort something.

[2015-05-13 19:14] KimberleyCook commented on #165
Just spoke to a student about this issue and she suggested splitting this into 2 tutorials, with more focus on each task. For example, there is a lot of information at the beginning (selectors, attributes ETC) without applying it.

I'd be happy to help contribute to this

[2015-05-13 19:15] KimberleyCook commented on #97
@knuxus This is something I am super keen to help on

[2015-05-13 20:32] lpil commented on #165
I must say that I don't like the fact that selectors and doc manipulation are taught using jQuery, and not even mentioned with vanilla Javascript. This was a good idea back when IE6 was a big player, but now we should really be using the standard library and teaching the language itself, rather than a third party library.

It's much easier to learn jQuery after learning Javascript than to learn Ja

[2015-05-14 15:06] knuxus commented on #97
If you want to setup like a one hour chat & write session im all up for it.

cheers

[2015-05-15 08:39] knuxus commented on #165
I think its quite a right assumption, @lpil and I think we should try to educate a more broader approach to all of it, not the easiest way only... but showing all the ways.

[2015-05-15 08:52] deniseyu commented on #165
re: vanillaJS - I agree that it's worth having more content on DOM manipulation. But enough people are using the jQuery tutorials at the moment that it doesn't make sense to remove and/or completely modify them. if you guys are up for writing a JS selector basics guide, that would be welcome and we can link to it from the jQuery tutorial.

how can Codebar provide support for creating these tutoria

[2015-05-15 09:41] lpil commented on #165
Happy to help in any way I can. Current plan was to work on a Sinatra tut with @deniseyu in the near future.

[2015-05-17 17:25] knuxus commented on #165
Just an hour @deniseyu, where we could sit down on gitter/slack/skype , like a montlhy or bi-weekly thing, we chat and do those decisions/adjustments.

And try to adapt the existing or rewrite and follow certain paths. We can have maybe some public votes for the next tutorials or refining some points of the existing ones, based on most developer friendly and begginer friendly resources out there.

[2015-05-22 11:40] knuxus commented on #165
Also this is a useful bit

https://developer.mozilla.org/en-US/docs/Web/JavaScript/A_re-introduction_to_JavaScript

[2015-06-17 18:45] lpil opened #179 "Command line tutorial"
In writing the Sinatra tutorial I've realised that we use the command line kiiind of a lot, even when we;re trying to avoid it.

Would it be good to have a tutorial for this?

Writing one that covers Windows too will be hard.

[2015-07-02 10:20] deniseyu commented on #172
@lpil are you happy to submit the tutorial? :)

[2015-07-02 10:21] deniseyu opened #181 "Lightning Talk Speakers"
A stopgap measure for until we can properly issue a PR to track these in the app.

- 8 July (ClauseMatch) - Sam
- 15 July (Reed) - Alex J
- 22 July (Shutl) - Kate
- 29 July (Thoughtworks) - Kai

[2015-07-02 13:22] lpil commented on #172
Not yet! I want to do a bit more on the first part, and then get another couple of parts out. I've been super busy with something and also preparing to go to euro burning man, so haven't been able to get it done, sadly.

It will happen though :)

[2015-07-10 10:26] deniseyu commented on #149
@hairychris @markdessain an update on this - @SamirTalwar and @KimberleyCook wrote the first full-fledged Python tutorial this past week :-)

There are a lot of good ideas in this thread, so it would awesome to see all of these topics touched upon in the upcoming tutorials!

[2015-07-10 11:08] KimberleyCook commented on #149
I want to get more python tutorials up over the next few week so plan on doing one every Wednesday for a few weeks, any input from anyone who is around would be greatly appreciated

[2015-07-16 07:24] RabeaGleissner opened #187 "Broken link in JavaScript lesson 1"
When going through the tutorial yesterday we noticed that the link to the Gorilla game example leads to an error page. (It's the last of the examples in the beginning of the tutorial).

[2015-07-17 12:15] #160 closed

[2015-07-20 12:00] matyikriszta commented on #187
thanks, have removed that example for now as the game doesn't seem to be online anymore. Will find another example and re-add it at a later time

[2015-07-20 12:01] #187 closed

[2015-07-29 19:36] matyikriszta commented on #179
I have created the first in a series of 3 command line tutorials. Please check it out here and provide constructive feedback on it. http://tutorials.codebar.io/command-line/introduction/tutorial.html

[2015-07-30 07:49] lpil commented on #179
We really ought to be using pull requests for this...

It looks like a Unix tutorial, but it tells Windows users to use Powershell. I've not used Powershell, is it POSIX compliant? If not, we should make it clear that Powershell users are not to follow this tutorial. Alternatively, we should add instructions for installing Cygwin for Windows users.

Perhaps it would also be good to get the user to

[2015-08-04 23:02] matyikriszta commented on #179
Thanks for the feedback @lpil, I agree on using PR’s for these, this tutorial going live without properly being looked at was a minor hiccup on my part. Powershell is POSIX compliant, all these commands should work in PowerShell. I added some more instruction on how to access PowerShell for Windows users, and a warning about using sketchy commands.

I like the idea of the students opening up a GUI

[2015-08-06 10:39] lpil commented on #179
Great, makes sense :)

[2015-08-11 00:20] deniseyu opened #200 "NodeJS tutorial"
Any takers?

I haven't thought through this completely, but at the minimum, should perhaps cover...
- request/response
- HTTP
- NPM modules and how package.json works
- what is middleware
- file system
- templating engines
- persistence

[2015-08-11 00:22] #181 closed

[2015-08-27 08:13] lpil opened #207 "Pull requests are being neglected"
There are several good contributions to this project waiting to be merged in right now. Could we either get a yes or a no to these? People like codebar and want to help, but it's difficult when there is no feedback.

[2015-08-27 18:25] matyikriszta commented on #207
@lpil sorry for the delay, no PR's are being intentionally neglected, I'll spend some time going through the PR's this weekend.

[2015-08-28 07:28] lpil commented on #207
Thanks :)

[2015-09-22 17:25] #172 closed

[2015-09-22 17:25] #179 closed

[2015-10-25 15:28] skattyadz opened #222 "HTML tutorials: Getting students' work online"
In the HTML tutorials, students get to make a page out of nothing and look at it in the browser. While this is definitely quite fun, I remember that the thing that drew me into web dev was how easily I can put my stuff online for everyone to see... Maybe seeing their stuff online could be really rewarding for students too

Both FTP and Git are potential ways to host a site, but each could be intro

[2015-10-25 16:33] Charlotteis commented on #222
I think that'd be a really cool idea, would love to hear more about it.

[2015-10-26 09:08] christiansherry commented on #222
+1

Perhaps a simple form on a webpage that allows them to upload a zip of their files, and then returns them a url they can view it on. And gives them the ability to repeat the task once it is online once so they can update it.

[2015-10-26 10:27] matyikriszta commented on #222
+1
I do like that idea @skattyadz, maybe with a beginner level explanation of what is happening when they upload their files?

[2015-10-26 10:35] skattyadz commented on #222
I did consider uploading a zip, but I'm wary of the security/ops cost. Another option is via the Dropbox API. That might be making an assumption that people have Dropbox etc

— adam

On Mon, Oct 26, 2015 at 9:08 AM, Chris Sherry <notifications@github.com>
wrote:

[2015-10-26 10:49] KimberleyCook commented on #222
I think asking people to set up a Dropbox account (if they do not have one) is not a bad thing if it means them putting their website online

[2015-10-26 11:45] eddiejaoude commented on #222
GitHub Pages is very easily, and all changes are versioned

[2015-10-26 11:52] skattyadz commented on #222
Very easy for who? It requires at least basic use of git

One approach is to get them to install the GitHub app, set up a repo, and push through the GUI without understanding git. We should work out whether that's simple enough. My inclination is not

— adam

On Mon, Oct 26, 2015 at 11:45 AM, Eddie Abou-Jaoude
<notifications@github.com> wrote:

[2015-10-26 11:58] skattyadz commented on #222
My focus is on making it as simple as possible for instant gratification as early as HTML 2 or 3. Using git might add some more concepts or take too much time. One benefit could be that it introduces git at a very basic level that could help when they come to the git tutorial later

[2015-10-26 12:03] alexanderkustov commented on #222
Its as easy as getting the branch gh-pages setup, everything else will be treated by github, so I guess we could try to add this extra step in the html tutorials. and see how students adapt to it.

[2015-10-26 12:42] chrisnx commented on #222
Yup, lots of security issues, particular that regardless of the method of getting the code online, if its PHP for example its so easy for those files to contain security holes.

Maybe they will need a screening / approval first, but that might also add a step which takes away from the gratifying feeling of getting code online. I guess at the same time though it would highlight the implications of

[2015-10-26 12:54] skattyadz commented on #222
I think we take the same approach as GitHub pages. Different domain, in fact maybe stick it straight on S3. My concern was mostly in relation to unzipping on a server

— adam

On Mon, Oct 26, 2015 at 12:42 PM, Chris Sherry <notifications@github.com>
wrote:

[2015-10-26 13:43] fuzzmonkey commented on #222
What about something like https://www.bitballoon.com/ ? The free account lets you upload a static site in a zip archive to a bitballoon subdomain.

[2015-10-26 16:58] skattyadz commented on #222
Very cool, @fuzzmonkey!

[2015-10-26 17:03] Charlotteis commented on #222
If we want instant gratification, GitHub Pages might be too complex. I know when I first tried GH Pages it was very frustrating.

[2015-10-27 20:52] hackscribble opened #223 "JS Lesson 4 Exercise 2 - workaround for bug in iOS Safari"
The CSS file for this exercise is in a Gist (http://www.checkio.org/user/Sim0000/) so I don't think I can raise an issue on it directly ...

In iPhone Safari (and maybe on iPad too), the "genre" buttons are not clickable with the current CSS.  The fix is to add `cursor: pointer;` as follows:

[code]

[2015-10-28 13:05] despo commented on #223
I updated the gist, thank you @hackscribble

https://gist.github.com/despo/05cab2f0b38bc02318e7#file-style-css-L65

[2015-10-28 13:05] #223 closed

[2015-11-19 15:15] alexanderkustov commented on #131
https://nanobox.io/

This has launched recently, and looks like a potential simplified method of understanding what a VM is...

[2015-11-25 21:04] KimberleyCook opened #229 "JS tutorial 2 amend"
Consider adding real world examples of how various sections of the tutorials could be used. E.g.

If statements could be used for checking the validity of credit card numbers on a shopping website.
While statements could be used for counting down time to buy tickets on a gig website.
For loops could be used for ticking off items in a todo list.

[2015-11-30 14:54] samsworldofno opened #230 "JavaScript lesson 4 tutorial hack night notes"
Some notes in advance of the tutorial hack night:

* Add rested.io/Postman/curl example of an API request. Is the network tab really the easiest way to explain this?
* AJAX explanation - make it clear that although it's for XML, we can use it for JSON and others
* Separate out JSON section on its own - link to JSON site.
* Move async/sync discussion to further down, once promises/jQuery `done` etc

[2015-11-30 15:02] jkbits1 commented on #230
good points - I've made some notes to bring along tonight

[2015-11-30 15:04] KimberleyCook commented on #230
I have a pile of feedback from both students and coaches that I got over the last 2 tutorials to work on too

[2015-12-05 15:14] KimberleyCook commented on #229
needs closing

[2015-12-05 15:27] #229 closed

[2015-12-06 20:13] #207 closed

[2015-12-07 22:12] #230 closed

[2015-12-26 12:02] despo opened #250 "Typo in Ruby 2 tutorial"
change `fname` used instead of `filename`

Relevant to issue raised in PR #246

[2015-12-26 20:26] #250 closed

[2016-01-21 12:10] lpil opened #259 "Site uses TLS but assets are loaded from a domain that does not"
Mixed content errors and warnings, see attached.

<img width="695" alt="screen shot 2016-01-21 at 12 09 25" src="https://cloud.githubusercontent.com/assets/6134406/12480128/f07884e2-c037-11e5-9a7d-4ed1f3ee5ff1.png">

[2016-02-23 11:01] samsworldofno opened #262 "Feedback on JS 4 (APIs part 1)"
I coached this last week and had the following notes:

* It wasn't initially clear _where_ the JavaScript had to be written. Earlier tutorials have it written straight into the console - it wasn't obvious to the student that the code needed to go into a `script.js`.
* It's not clear why `event` works within the example code when `e` is the passed argument in `$(document).on('keypress', '#username'

[2016-02-23 11:01] samsworldofno commented on #262
Tagging @jkbits1 :)

[2016-02-23 18:54] jkbits1 commented on #262
@samsworldofno thanks, I'll take a look and add some comments.

[2016-02-24 19:22] clairgriffiths opened #263 "Typo needs fixing in Ruby tutorial 4"
tutorial variable is misspelled as turorial

[2016-02-24 19:35] KimberleyCook opened #265 "Stop using 'redcarpet' Markdown engine, as GitHub Pages will stop supporting after May 1st."
We are currently using the 'redcarpet' Markdown engine, which will not be supported on GitHub Pages after May 1st. To suppress this warning, remove the 'markdown' setting in our site's '_config.yml' file

[2016-02-25 22:08] katebee commented on #263
Fixed by commit f31b664. Thanks Clair!

[2016-02-25 22:08] #263 closed

[2016-02-25 22:24] katebee opened #266 "Update the link to our chat channel in JavaScript lesson 8"
Line 4 of the first section:

Update the link to our chat channel so it directs to the codebar slack
https://codebar.slack.com/messages/general/details/

- Fork the repository
- Create a new branch
- Change the link
- Commit changes
- Open a Pull Request

[2016-02-26 04:41] xtroncode commented on #266
I want to do  it.

[2016-02-26 05:12] xtroncode commented on #266
xtroncode-patch-1 I have updated the link and opened a PR.

[2016-02-26 10:07] KimberleyCook commented on #266
@xtroncode @katebee The link should be https://codebar-slack.herokuapp.com/ as the other one will only work if you are already a member to our Slack channel

[2016-02-26 13:01] xtroncode commented on #266
@KimberleyCook @katebee  should I revert the pull request and again make the changes ?

[2016-02-27 15:25] katebee commented on #266
@KimberleyCook Thanks, thoughts on the following?

@xtroncode You can revert, or submit a new pull request; I think either would be fine

I think something similar to this (from elsewhere on the codebar site) would be great:
![selection_045](https://cloud.githubusercontent.com/assets/8607683/13373606/32737390-dd64-11e5-8501-70b96042fa35.png)

Maybe the end result could look like:

[2016-02-27 19:06] #266 closed

[2016-03-04 16:21] matyikriszta commented on #265
solved by #267, closing this issue.

[2016-03-04 16:21] #265 closed

[2016-03-04 16:22] matyikriszta opened #272 "Change highlighter value from 'pygments' to 'rouge' in '_config.yaml'"
Per this blog post: https://help.github.com/articles/page-build-failed-config-file-error/#fixing-highlighting-errors

[2016-03-04 16:31] matyikriszta commented on #272
Fixed by #273, closing this ticket

[2016-03-04 16:31] #272 closed

[2016-03-26 16:04] sasstevens opened #279 "CSS tutorials"
Hi all!

I've been through the CSS tutorials with a good few people over the last year or so and I've found that a large amount of them fall over at a few specific places:

1) Moving the CSS from the head into a separate file
2) Using shorthand for margin values
3) The lack of a browser 'reset' until the end of the document, causing marked differences between what they're seeing and the example pa

[2016-03-26 20:45] alexanderkustov commented on #279
All very valid assumptions, I think the point 1 and 3 are an easy addition/fix to the current tutorials.

The second one might just need a side explanation of how margin works... but surely a coach can explain that in the moment when they come to that part.

[2016-03-30 12:05] sasstevens commented on #279
Thanks for engaging, I've just tried the tutorial again with a student and whilst perhaps point 2 isn't as important there are a few other points. I'm going to go submit a pull request with those amends :)

[2016-04-07 12:22] skattyadz commented on #222
https://zeit.co/now

[2016-04-07 12:23] skattyadz commented on #222
https://surge.sh

[2016-04-10 11:57] Charlotteis commented on #222
GitHub pages has become a little easier due to drag and drop.

[2016-04-10 11:57] Charlotteis commented on #222
GitHub pages has become a little easier due to drag and drop, meaning no need to know Git Command line.

[2016-04-10 16:18] skattyadz commented on #222
Oh nice
On Sun, 10 Apr 2016 at 12:57 Charlotte Spencer <notifications@github.com>
wrote:

[2016-04-13 18:40] matyikriszta opened #284 "Hangman game in JS lesson 5 does not work / documentation is not clear"

[2016-04-13 18:56] samsworldofno commented on #284
Sure thing @matyikriszta!

The documentation is not clear on the hangman API for requests that need a body. Although the request body is illustrated in the format ``` { token: game token, letter: guess } ```, the application actually takes data in `x-www-form-urlencoded`, so the request should be:

[code]

The tutorial definitely doesn't make this clear enough, but moreover I suggest that we shoul

[2016-04-13 19:24] matyikriszta commented on #284
@samsworldofno I agree with you, happy for you to implement that change

[2016-09-20 12:40] lwm opened #302 "Using existing learning material for topics?"
Hi there, awesome codebar humans!

I wanted to open up a discussion about using existing learning material for tutorials at codebar. The existing tutorials are great, so a big :+1: to any one who put that work in. This issue is not meant to belittle work that any one has done or yet to do!

So, some tutorials are incomplete (see https://github.com/codebar/tutorials/issues/149) and as I can see fro

[2016-09-20 16:34] kodikos commented on #302
I don't think we're totally averse to using other materials - if a student is using some other resource to learn from and wants help, we won't turn them away! I see many students using codewars, for example. Recommending materials probably should require vetting as you suggest, but I don't see an issue with us making these in further reading sections.
I think the tutorials written by codebar are f

[2016-09-20 16:43] octopusinvitro commented on #302
Hi Luke,
Welcome to the tutorials repo and thank you for your feedback.

I think one issue is that the Codebar tutorials are of a very special kind, for example we want the students to build something using the tutorial, see here for the rules: <https://github.com/codebar/tutorials#general-tutorial-rule>. Also, they are thought as material to be covered in the presence and with the help of a coach

[2016-09-21 15:04] lwm commented on #302
Thanks for the prompt reply!

I think you all agree that external resources are great and worth using, but that the tutorials are also useful and you aren't stopping anyone following either path! So, I think my issue is then that there are simply none listed on the tutorials page to guide the learner. So I will submit some PRs like @kodikos recommended.

It's a great initiative you have here. I co

[2016-09-21 15:04] #302 closed

[2016-09-27 16:13] mikail1998 commented on #222
For that kind of stuff freecodecamp uses codepen.io maybe you should try too...

[2016-09-27 19:02] juliankrispel opened #312 "for and while loops aren't common practice anymore and difficult to grok"
I'm coaching somebody and we're going through the first few javascript tutorials.

And in those tutorials you have quite a few for and while loops.

In reality you don't really need for and while loops anymore, also they are much harder to grok than their functional counterparts. I'd recommend and would be happy to help creating tutorials to use array methods like `forEach` and `map`.

Whaddayathi

[2016-09-27 19:57] KimberleyCook commented on #312
We would very much welcome this update, it's something we've been meaning to do "for" a "while" LOL 😂

[2016-09-28 15:21] danielquinn opened #313 "The tutorials really should be using Python 3"
2.7 is legacy code and all mainstream projects out there have been supporting Python 3 for about a year now.  It'd be a disservice to educate Python newbies on a version that the community has largely left behind.

[2016-09-28 15:25] KimberleyCook commented on #313
@danielquinn Absolutely, if you could spare some time to update them we'd really appreciate it.

[2016-09-28 15:28] danielquinn commented on #313
Alright, I'll see what I can do this week as I have the time.

[2016-09-28 21:43] danielquinn commented on #313
As promised, I've added #314 for this.

[2016-09-30 21:13] lwm commented on #313
@alicestrt Looks like someone got there first. Maybe you could also review #314?

Nice job @danielquinn.

[2016-09-30 22:28] #222 closed

[2016-10-05 11:37] #313 closed

[2016-10-19 11:48] #149 closed

[2016-11-03 14:05] KimberleyCook commented on #312
@juliankrispel Are you still interested in updating our tutorials?

[2016-11-03 14:19] juliankrispel commented on #312
Absolutely. Will have a look next Tuesdayat codebar

Julian Krispel-Samsel
rainforestqa.com
goodafternoon.co

[2016-11-07 11:37] matyikriszta commented on #312
@juliankrispel I think we should keep the `for` loop at least as that is still a common construct one might see in code from time to time. I'd introduce a section on other ways of achieving the same effect such as `forEach` and `map`.

@KimberleyCook what do you think?

[2016-11-07 11:54] juliankrispel commented on #312
@matyikriszta I disagree. It's not a very common construct. In my experience if you look at any sane/modern codebases for and while loops get rarely used. I don't think it's appropriate as one of the first tutorials because forEach and map are easier to wrap your head round. JavaScript has changed a fair bit and I think it'd be good to update the tutorials to reflect common practices and discourag

[2016-11-16 20:32] #200 closed

[2016-11-16 20:32] #165 closed

[2016-12-01 09:33] octoberclub opened #325 "Ruby tutorial references nitrous.io which is now discontinued"
In http://tutorials.codebar.io/ruby/lesson1/tutorial.html. nitrous.io is now discontinued and I had problems installing ruby on my mac from scratch - it pretty much took the whole session at codebar to resolve. Can we instead look into supplying a VM with ruby set up and instructions on how to use it? e.g. Vagrant?

[2016-12-03 15:35] notwaving commented on #325
I can recommend Cloud9.

[2017-01-19 11:26] richardwestenra commented on #312
Hi @juliankrispel, thanks for submitting an issue! I've just been chatting with @oliverturner about this. You're right that JS has changed a lot, and I’d like to see `forEach` and `map` taught earlier. However my instinct is that `for` (and `while`?) loops are still common enough and have enough valid use cases to be worth teaching.

Oliver's Hot Take:

Also I’m not so sure that `forEach`/`map` ar

[2017-02-02 10:41] matyikriszta commented on #325
I've used Cloud9 before and it was pretty good, @notwaving do you want to make a PR for this, replacing the nitrous link with a link to Cloud9?

[2017-02-02 11:21] notwaving commented on #325
Sure, Kriszta!

I'm away from my laptop today, but I'll get into it this afternoon/evening.

Samantha

Sent from my iPhone

[2017-02-02 12:28] webb04 opened #335 "Higher order functions in JavaScript"
Recently a student (learning a programming language for the first time) had some trouble grasping the `sortNumbersAscending` example in lesson 2 of learning JavaScript https://github.com/codebar/tutorials/blob/gh-pages/js/lesson2/tutorial.md.

This seemed like a steep step up compared to the rest of the content (which the student understood and enjoyed going through).

Just wondered if lesson 2 wa

[2017-02-02 21:31] notwaving commented on #325
Hopefully that went OK. I created PRs for index.html and index.pt
(Portuguese?), as HTML was otherwise identical...

On 2 February 2017 at 11:19, Samantha Burke <samanthaburke.uk@gmail.com>
wrote:

[2017-02-03 10:02] matyikriszta commented on #325
Yep, all good, thanks for the PR. Addressed by #336. Closing.

[2017-02-03 10:02] #325 closed

[2017-02-13 11:59] richardwestenra commented on #335
Hey Jamie :)

Thanks for the suggestion. I've no idea either way really - I'd welcome more feedback from other coaches on this issue, and it might also be worthwhile having a look at some other tutorials, like codecademy, to see how they handle it.

If other coaches feel the same way, would you be willing to make a PR?

[2017-02-20 19:32] #97 closed

[2017-04-22 05:36] SteveBarnett opened #350 "Set up instructions: remove Nitrous or replace with alternative"
Helloes. 👋 😺

In the [ruby section of the setup tutorial](http://tutorials.codebar.io/general/setup/tutorial.html#ruby-optional) we suggest using a Nitrous. Unfortunately, it shut down on November 14th, 2016.

[Cloud9](https://c9.io/) seems to be a popular alternative and has a free tier. Should we update the instructions to suggest C9 (or some other cloud IDE) instead of Nitrous?

[2017-04-22 05:58] SteveBarnett commented on #350
Ooh, I see we already suggest in on http://tutorials.codebar.io/ for the PHP course. :)

[2017-05-02 18:30] matyikriszta commented on #350
@SteveBarnett I have updated every mention of nitrous to cloud9, as per #351. Going to close this issue.

[2017-05-02 18:30] #350 closed

[2017-09-13 18:20] taw opened #361 "Lesson 3 sample"
Not a PR as it's some gist code with separate download.

It would be useful to move js from head to end of the body as that's one less thing to explain to the student at this point why something works in console and not inside `script.js`.

[2017-10-25 16:17] malevolentninja opened #371 "Accessibility tutorial?"
Hey all, I am going through the code bar tutorials and was wondering if anyone has considered creating a tutorial to understand how to develop with accessibility in mind ?  For example the uses of ARIA and other attributes. Or at least providing documentation on this? (WCAG and ARIA guidelines).

I would be keen to work on this with a bit of help!

[2017-10-26 09:37] KimberleyCook commented on #371
Morning, @malevolentninja I'm not sure we would need a whole tutorial for this, however I do agree it would be nice to have something. How about we add a bit to the end of tutorial 6 ?

[2017-10-27 14:02] malevolentninja commented on #371
@KimberleyCook  thanks for a quick reply! That would be a great place, maybe a bonus section =  'Accessibility Bonus' ? We could have a couple of examples and things to consider when building a web page e.g. font size, alt tags etc. Finally what are your thoughts on adding some documentation links for people to investigate further if they want?

[2017-10-27 14:10] KimberleyCook commented on #371
I'm all for a "Further Reading" section too. It was something I started adding in some of the earlier HTML tutorials. Take a look at that format and follow them :)

[2017-10-30 08:39] malevolentninja commented on #371
Awesome, will put a few things in first and then look forward to any suggestions of other bits to cover! :)

[2017-10-30 22:31] richardwestenra commented on #371
Fixed in #372 🎉

[2017-10-30 22:31] #371 closed

[2018-02-03 18:04] docljn commented on #279
May I make a comment on #2?
As a CodeBar student, I often found myself continuing with the tutorials in my own time, and that is when I really noticed things like the shorthand used above.  It wasn't a complete blocker, but did mean that I was a lot less confident about proceeding with the tutorials when there wasn't a coach around.  I realise that the tutorials are primarily aimed at a coaching s

[2018-04-12 13:51] #259 closed

[2018-05-22 11:52] claritee opened #391 "Elixir Tutorials"
I would like to contribute to Codebar with Elixir Tutorials :)

[2018-05-22 12:08] KimberleyCook commented on #391
Hi @claritee this is awesome idea, however us having tutorials on our website means that we're guaranteeing a coach can coach that and unfortunately that is not something we can guarantee. It also means someone here has to maintain those tutorials. However, I would love our blog to be more technical, and the few tech posts we have on there have done really really well. What do you think to writing

[2018-05-22 15:44] octopusinvitro commented on #391
There were some attempts in the past to add an Elixir tutorial, but looks like it is still a work in progress:

https://github.com/codebar/tutorials/pull/324

[2018-06-02 21:51] khamiltonuk opened #393 "Integrate Twitter login"
I feel it's very important to insure the bar for entry to participate in codebar is as low as possible.

GitHub has worked well for us, and many beginners have managed to sign up but I feel it has the potential to alienate people who don't know what it is. I also like it because it also as it is very appropriate single sign on platform  given what we do.

My next platform would be Twitter especial

[2018-06-02 23:00] despo commented on #393
Hi @khamiltonuk - there is already an issue addressing this on the main repo github https://github.com/codebar/planner/issues/702

Maybe this can be discussed further there.

[2018-06-02 23:33] khamiltonuk commented on #393
Sorry, will try and give it a go

[2018-06-02 23:33] #393 closed

[2018-10-06 16:44] octopusinvitro opened #401 "Update to Ruby 2.5.1"
[code]

Our current Ruby version is 2.2.1. Switch the Ruby version to 2.5.1

### To get started

* Claim this issue by clicking the "Assignees" cog to the right and assigning yourself
* Check out our [contributing guides](https://github.com/codebar/tutorials#contributing)
* You can pair with a coach

### Steps for this issue:

* Install Ruby version 2.5.1 on your local system. How to do this depen

[2018-10-06 21:19] Aliciawyse commented on #401
Hi! I'd like to do this. Creating a fork now. FYI, I can't make myself the assignee. Not sure why.

[2018-10-27 10:56] hlb89 opened #412 "HTML tutorial 5 has an incorrect instruction re background images"
Hi there!
I noticed with a student the other day that HTML tutorial 5 says the following:

This doesn't seem to correspond with the directory structure of the example files, so the student initially got quite confused. Suggest either changing the instructions or changing the directory structure of the example files to match.

Happy to do this myself with permission!

[2018-10-29 13:51] hlb89 commented on #412
Had a look at this here:
https://github.com/codebar/tutorials/pull/413

[2018-10-29 14:13] KimberleyCook commented on #412
Thank you @hlb89

[2018-10-29 14:13] #412 closed, assigned to nobody

[2018-11-17 06:44] rvedotrc opened #418 "Heroku app to get a Slack invite appears to be down"
In http://tutorials.codebar.io/js/lesson8/tutorial.html, "If you are not on Slack, use this link to get an invite." ( https://codebar-slack.herokuapp.com/ )

which doesn't appear to be working. I'm don't have a suggested replacement link, sorry.

[2018-11-18 21:43] matyikriszta commented on #418
@rvedotrc good catch, the new link is https://slack.codebar.io/

[2018-12-01 10:09] brunogirin commented on #100
Here's a suggested plan for SVG:

# Lesson 1 - Introducing SVG

- Quick intro to image formats: vector vs raster
- Tools: same tools as HTML, show dev tools
- SVG tag
    - Standalone
    - Embedded in HTML
- Shapes
    - line
    - rect
    - circle
    - ellipse
    - polygon
    - text + tspan: differences with HTML text, no wrap
- Ordering (no Z attribute)
- Styling SVG with CSS
    - fill (an

[2018-12-01 10:36] brunogirin opened #420 "d3.js tutorial"
I've been coaching d3.js with one of the West London students and I feel that it could be a good advanced tutorial to go beyond the JavaScript basics. Here's a suggested lesson plan:

# Lesson 1 - D3.js basics
- Basic HTML structure
- Append element (add an h1 to the document)
- Simple selection
    - Select (create ul + li, select the ul, set a property)
    - selectAll (set a property on all the

[2018-12-01 11:17] brunogirin opened #421 "Clarify how to run python code with repl or file"
I had a student who was following the python tutorials recently and got confused between running code from a file or from the repl. One way to fix this would be:
- beginning of lesson 1, explain that everything will be done in the repl and how to start it
- end of lesson, add a note saying that you can save everything to a `.py` file and run it there

[2018-12-01 12:01] KarinRoe commented on #421
I would like to work on this issue

[2018-12-01 12:33] KimberleyCook commented on #421
@KarinRoe yes please do :)

[2018-12-01 13:14] brunogirin opened #422 "Java tutorial"
I've had a few requests to coach Java at codebar so I thought a basic tutorial would be useful. However, Java is a complex beast and it helps a lot if students have an IDE like [IntelliJ IDEA](https://www.jetbrains.com/idea/) installed before they start.

Installing an IDE could be lesson 0.

For lesson 1, one of the complexities of Java is that you need an understanding of a fair number of concep

[2018-12-01 13:44] brunogirin commented on #420
It would be good to fix #327 and #100 before doing this one as d3.js typically works with SVG.

[2018-12-01 13:58] KarinRoe commented on #421
Send a pull request :) #424

[2019-02-13 12:22] naz-eze commented on #422
I'd be interested in helping out with coming up with a Java tutorial. We can create a Java tutorial branch and get a few lessons up.

[2019-05-08 19:10] andyjp94 opened #443 "Replace var with let in javascript tutorials"
I was wondering if there was appetite for changing the tutorials to use let instead of var? It behaves more like other programming languages people may be coming from and is now supported by all major browsers as per https://caniuse.com/#search=let with 90% full support in browsers and 94.5% including partial support.

Let me know if this would be appreciated and if so I'm happy to update the docs

[2019-05-09 07:35] brunogirin commented on #443
We want to do a more in-depth refresh of the JavaScript tutorials and changing `var` to `let` would be a start, thanks.

[2019-06-06 11:49] carlwood commented on #443
I'd be up for collaborating with someone on a separate 'ES6 Basics' course where we could include that sort of thing as well as arrow functions, template strings, spread operator, destructuring, etc. At least with a new course - or extra lesson - we can show the effects of changing your code from `var` to `let` and `const`, for example.

[2019-06-24 19:02] pmansukhani commented on #418
I'm new to open source. I can take this up. Is there anywhere I can find the guidelines to submit a PR ?

[2019-06-24 19:28] matyikriszta commented on #418
@pmansukhani please do. There's no contributing guideline for this repo I'm afraid. Feel free to ask any questions as you go along.

[2019-06-24 20:04] pmansukhani commented on #418
@matyikriszta I've created a PR.

[2019-06-24 21:06] matyikriszta commented on #418
Thank you @pmansukhani, I've merged it in.

[2019-06-24 21:06] #418 closed, assigned to nobody

[2019-09-05 16:28] VirtualDOMinic opened #445 "Move away from jQuery in favour vanilla JS?"
What are people's thoughts on moving away from the jQuery tutorials in favour of "vanilla" JS equivalents (e.g. things like `document.querySelector`)? This is for the usual reasons (jQuery is being used less and less, vanilla js/browser APIs are great for ~99% of what we'd want to do with jQuery, unnecessary bulk...) and because so many students end up using libraries/frameworks like React which s

[2019-09-05 17:06] docljn commented on #445
I learned vanilla js before I learned jQuery and I think that is a better way to understand

[2019-09-06 15:54] brunogirin commented on #445
We discussed this a number of times in organiser meetings and I think we generally agree it would be a good thing to do, we just don't have the time to do it. That said, PRs will be happily accepted.

On a wider note, it would be good if the JS tutorial dovetailed into the HTML+CSS ones. All of them need updating based on feedback from students and coaches.

I'm happy to coordinate the work and dr

[2019-11-18 16:49] x8a opened #447 "Logo not found"
The codebar logo seems to be missing from https://github.com/codebar/tutorials/blob/gh-pages/assets/codebar_logo.png

[2019-11-20 07:51] louiechristie opened #449 "HTML lesson 1 example page should match the tutorial"
HTML lesson 1 example page (https://tutorials.codebar.io/html/lesson1/example.html) should match the HTML lesson 1 tutorial.

The nursery rhyme should be about "The Owl the Pussy-cat", not about "the wise old owl".

Images 4 and 5 should be next to each other inline, not one above the other.

[2019-11-20 18:11] #447 closed, assigned to nobody

[2019-11-20 19:16] codebru opened #451 "JS Lesson 4: getGithubInfo should not return the xmlhttp object"
# Where
The tutorial https://github.com/codebar/tutorials/blob/gh-pages/js/lesson4/tutorial.md
# What
The code block
[code]
returns the xmlhttp object. I would argue that this is bad practice and the function should return only the data or a signifier of failure, for example throwing an error. The reason I think this is bad practice is that it as a function should only give data, and should not le

[2020-03-04 14:19] yeo-yeo opened #456 "getting started tutorial: change windows browser from IE to Edge (MINOR)"
**Where**
Student getting started setup: l https://github.com/codebar/tutorials/blob/gh-pages/general/setup/tutorial.md

**What**
First line of subheading 'A web browser (required)' states that Windows comes with Internet Explorer.  I would suggest changing it to say Edge (even if IE still does come with Windows 10)

**Am I willing to fix**
Yes if others think it makes sense

[2020-05-14 08:42] kyorkston opened #461 "JS 4: Task 2 BBC api no longer available"
The note
`**Part 2 of this exercise is no longer possible as the API that it uses has been taken down by the BBC.**
**Sorry, we're working on fixing the exercise!**`
has been in the Readme for a while, the exercise needs replaced because APIs are fun!

I have created a PR to add a different exercise using a quiz API

https://github.com/codebar/tutorials/pull/453

[2021-01-11 22:09] caro401 opened #465 "Font weight very low on main tutorials page"
I'm using a laptop with a small screen and HiDPI, and I'm finding tutorials.codebar.io very hard to read (even with perfect eyesight). It looks like below for me, with the tutorials list approx 10cm wide on my screen.

![image](https://user-images.githubusercontent.com/12828913/104243999-72379580-5459-11eb-8eb8-0e6638e2af2d.png)

Would there be any objection to a PR to slighly increase the font si

[2021-03-22 12:18] KimberleyCook opened #467 "Update API tutorial to use Vonage"
Remove all references to BBC API in API tutorials, and use the Vonage API instead https://www.vonage.com/

[2021-04-13 18:18] #465 closed, assigned to KimberleyCook